body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.spherical {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color:DeepPink;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rectangle {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
}

h2 {
  margin-top: 0;
  color: #333;
}

p {
  color: #555;
}
header {
  background-color:DeepPink;
  color: #fff;
  padding: 10px;
  display: flex; /* Use flexbox to center the navigation links */
  justify-content: center; /* Center the navigation links horizontally */
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: inline-block; /* This is important for the text-align property to work */
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color:black; /* Apply the hover color of your choice */
}