body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  position: relative;
}

.center-div h1 {
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}

input[type="text"] {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  background-color:DeepPink;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center-div::before {
  content: "";
  display: block;
  width: 600px;
  height: 600px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -1;
}

header {
  background-color:DeepPink;
  color: #fff;
  padding: 10px;
  display: flex; /* Use flexbox to center the navigation links */
  justify-content: center; /* Center the navigation links horizontally */
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: inline-block; /* This is important for the text-align property to work */
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color:black; /* Apply the hover color of your choice */
}